<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
            <highlight>
                <color>GREEN</color>
                <keywords>TRACE,DEBUG,INFO,WARN,ERROR</keywords>
            </highlight>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="debug">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root logger -->
    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
